<div class="content" role="main">

    <mat-grid-list 
        flex
        class="primary" 
        cols="3" 
        rowHeight="1:1" 
        gutterSize="10px">

        <mat-grid-tile
            *ngFor="let offset of offsets">

            <div class="internalGridList">

                <mat-grid-list
                    class="primary" 
                    cols="3" 
                    rowHeight="1:1" 
                    gutterSize="5px"
                    layout-fill>

                    <app-tile-card
                        *ngFor="let inputTile of getTileSubset(offset); let i = index"
                        style="border: 2px double;"
                        id="{{ i + (offset[0] * 9) + (offset[1] * 3) }}"
                        (click)="openDialog(inputTile)"
                        [tile]="inputTile"></app-tile-card>
        
                </mat-grid-list>

            </div>

        </mat-grid-tile>

    </mat-grid-list>

</div>